<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Shelters Near You
        </ion-title>
    </ion-navbar>
</ion-header>



<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let result of listResults">
            <!--<ion-icon name="information-circle" style="color: #910d0d; opacity: .35" item-left></ion-icon>-->
            <!--<ion-icon name="checkmark" style="color: green;" item-left></ion-icon>-->
            {{ result.name }}
            <span clear item-right style="font-size: .75em;">{{ getMiles(result._rankingInfo.geoDistance) }} Miles</span>
            <ion-icon name="arrow-forward" item-right></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
